# Binaries folder
bin/

# All markdown
*.md

Dockerfile
docker-compose.yml

# Generate cpu profile file
cpuprofile

# Binaries for windows-based OS
*.exe
*.exe~

# Binary for Linux-based OS
app.demo.redis

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out

# vscode IDE specific
.vscode

# log folder and files
logs/
*.log